@(category: Category, posts: Iterator[Post])(implicit request: play.api.mvc.RequestHeader)
@import tags._

    @sidebar = {
        <h1>Category @category.name</h1>
        <form class="form">
            <a class="btn btn-block btn-primary" href="/c/@category.path/add-link">Add link</a>
            <a class="btn btn-block btn-primary" href="/c/@category.path/add-text">Add text</a>
        </form>
        <p>Some info about the category</p>
    }

@main("Welcome to Play")(sidebar) {
                @for(post <- posts) {
                    @renderPost(post, show_text = false)
                }
}
